html
    head
        title nodeology
        link(rel="stylesheet" href="/css/main.css")
    body
        h1 nodeology


        p nodeology is a community website for NodeJs developers in New Zealand.