html
    head
        title nodeology
        link(rel="stylesheet" href="/css/main.css")
    body
        h1 nodeology


        p nodeology is a community website for NodeJs developers in New Zealand.
            p Join Now
            span some other stuff

        form#login sign in now with your
            label email address
            input(type="text")
            password
            input(type="password",placeholder="password")
            button sign in